* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

.navbar .navbar-brand span.logo {
  display: block;
}

.col-lg-6 img {
  width: 100%;
  height: 100%;
}

.col-lg-6 span {
  font-weight: 600;
  text-transform: uppercase;
  color: #7e7d7d;
  line-height: 1.8rem;
  letter-spacing: 0.06rem;
  display: block;
}

.col-lg-6 h3 {
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.8rem;
}

.col-lg-6 h6 {
  margin-bottom: 0.6rem;
  font-weight: 400;
}

.col-lg-6 .progress-tab {
  margin-bottom: 1.8rem;
}

.title-small {
  color: #7e7d7d;
  font-size: 0.8rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}

.title-big {
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.8rem;
}

#feedback {
  background-color: #f8f9fa;
}

.carousel-indicators li {
  background-color: grey;
}

a {
  font-weight: 400;
  font-size: 1.06rem;
  color: #999;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
}

.link:hover {
  text-decoration: none;
  color: #999;
}

.describe {
  display: block;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #3f3a64;
  margin-top: 0.6rem;
  transition: all 0.5s;
}

.describe:hover {
  text-decoration: none;
  color: green;
}

.card-img-top {
  width: 100%;
}

.card {
  border: 1px solid rgba(210, 210, 210, 0.125);
}

.card-body {
  border-bottom: 0.5px solid rgba(243, 243, 243, 0.405);
}

.col-6 span {
  color: #666;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}

.describe-footer {
  line-height: 2.2rem;
  font-weight: 600;
  color: #3f3a64;
  margin-top: 0.6rem;
  transition: all 0.5s;
}

.describe-footer:hover {
  text-decoration: none;
  color: green;
}

.date {
  line-height: 2.2rem;
  font-size: 0.9rem;
  color: #666;
}

#subscribe {
  background-image: url(../images/map.png);
  background-color: #151421;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.worldwide {
  max-width: 43.75rem;
  margin: auto;
}

.worldwide p {
  color: #eeeeeec8;
}

#subscribe .btn {
  font-weight: 600;
  border-radius: 0 0.4rem 0.4rem 0;
}

.input-group-text {
  color: #999;
  background-color: #00000042;
  border: 1px solid #b7b0b061;
}

.subscribe input[type="email"] {
  background-color: #00000042;
  border: 1px solid #b7b0b061;
  border-left: none;
  padding: 0.8rem 1.25rem;
}

form.subscribe {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 34.3rem;
  margin: auto;
}

#footer .navbar-brand span.fa {
  color: green;
  margin-right: 0.3rem;
}

h6 {
  font-size: 1.3rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.5px;
}

/* Phần footer */

#footer {
  background-color: #151421;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #97a1a9;
  border-top: 1px solid rgb(147 147 147 / 25%);
  border-bottom: 1px solid rgb(147 147 147 / 25%);
}

#footer a {
  transition: all 0.5s;
}

#footer a:hover {
  color: white;
}

#footer .footer-logo .navbar-brand {
  color: white;
}

.footer-logo a {
  font-size: 2rem;
  font-weight: 600;
}

.footer-logo {
  margin-bottom: 1.5rem;
}

.navbar-brand span.logo {
  font-size: 1rem;
  display: block;
  padding-left: 2.8rem;
}

/* Phần bản quyền cuối trang */

#copyright {
  border-top: 1px solid rgb(147 147 147 / 25%);
  padding: 1.5rem 0;
}

#copyright p {
  color: #7f8a94;
  opacity: 1;
}

#copyright a {
  color: green;
  transition: all 0.5s;
}

#copyright a:hover {
  color: white;
}

.contentfeedback .img img {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  overflow: hidden;
}

.contentfeedback {
  display: block;
  padding: 2.5rem 1.875rem;
  position: relative;
  max-width: 56.25rem;
  border: none;
  margin: auto;
}

.contentfeedback .about p {
  color: #666;
}

.aboutinfo {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  text-align: left;
  gap: 1.25rem;
}

.slick-list {
  margin-bottom: 1.875rem;
}

/* custom lại ký tự chuyển slide */
.slick-dots {
  position: absolute;
  left: 0.3125rem;
}

.slick-dots li button:before {
  font-size: 1rem;
  transition: all 0.3s;
}

.slick-dots li button:before:hover {
  font-size: 4rem;
}

.progress-tab h6 {
  font-size: 1.125rem;
  color: #3f3a64;
  font-weight: 400;
}

.progress-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.n1 {
  width: 80%;
}

.n2 {
  width: 95%;
}

.n3 {
  width: 60%;
}

.n4 {
  width: 85%;
}

span.rate {
  font-weight: 400;
  color: rgb(69, 69, 69);
}

/* Phần màu thanh progress */

.b1 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(to right, #0d8abc, #61fded);
}

.b2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(to right, #d45529, #eece90);
}

.b3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(to right, #f646a9, #5c51ff);
}

.b4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(to right, #e77654, #e5529a);
}
