* {
    font-size: 16px;
    list-style: none;
    font-family: 'Jost', sans-serif;
}
p {
    margin: 0 ; 
    padding:  0 ;
    font-size: 17px ;
    line-height: 27px;
    color: #7e7d7d;
    opacity: .8;
    
}
/* HEADER   */
.navbar .collapse button{
    width: 45px;
    border-radius: 50%;
    height: 45px;
    background-color: green;
    line-height: 35px;
}
.navbar .collapse button i {
color:white ; 

}
.navbar .navbar-brand i {
color :green ; 
font-size: 30px;
}
.navbar .navbar-brand span:first-of-type {
font-size: 28px;
font-weight: 800;
}
.navbar .navbar-brand span:last-of-type {
font-size: 13px;
font-weight: 700;
}
.navbar .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 35px;
    font-weight: 600;
    opacity: .9; }

    .navbar-brand {
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
    }
.navbar .collapse .nav-item a {
    font-size: 15px ;
    font-weight: 600;
}

/* CAROUSEL */
.img-fluid {
    max-width: 100%;
    height: auto;}
.radius-image {
border-radius: 8px;
}
/* ABOUT US  */
img {
width: 90%;
height: auto;
}
.title-small {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    color: #7e7d7d;
}
.title-big {
    font-size: 35px;
    font-weight: 700; 
    line-height: 45px;
}
.about__us .about-list li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: black;
}
.about__us .about-list li i {
border: 1px solid transparent;
color:white ; 
background-color:rgba(0, 128, 0, 0.74) ; 
border-radius: 50%;

}
.about__us .about-list {
    margin-left: -45px!important; 
}
/* CREATIVE */
.creative {
    background-color: #f7f7f7;
}
.creative .creative__item {
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
    justify-content: center;
}


.creative .creative__item .creative__icon {
    width: 70px;
    margin-top: 30px;
    margin-left :25px;
}

    .creative .creative__item .creative__content h4 a{
        font-size: 22px;
        color: black;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .creative .creative__item .creative__content {
    margin-bottom: 30px;
    }
    .btn-style { 
  padding: 15px 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    }